body {
    font-family: Arial, sans-serif;
    background-color: whith;
    color: black;
    text-align: center;
    padding: 50px;
}

h1 {
    color: blue;
}

img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}
